.navbar {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  border: 3px solid rgba(255, 255, 255, 0.787);
  border-radius: 20px;
  padding: 20px;
  height: 100%;

}

.navbar div {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 3vw;
}

.navbar div h3 {
  letter-spacing: 5px;
  font-size: 20px;
 
  color: var(--ScoreText);
}
.navbar div span {
 
  font-size: 50px;
  color: var(--HeaderOutline);
}

.navbar div span {
  height: 50%;

}

.conteinerNav {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.close{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  border-radius: 30px;
}
.close h3{
  font-size: 30px;
  margin: 20px;
  color: var(--HeaderOutline);
}
.button{
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid var(--HeaderOutline);
  border-radius: 10px;
  color: white;
  transition: background-color 0.2s;
}
.button:hover{
  background-color: rgba(122, 122, 122, 0.146);
}
.space_be{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.parent{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  position: relative;
}
.parent::before{
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
  background-image: url("/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  height: 69%;
  z-index: 0;
}
.parent div{
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin:6% 10%;
  outline: 20px solid hsl(230, 89%, 62%);
  outline-offset: -20px;
  background-color: white;
  border-radius: 100%;
  box-shadow: inset 0 26px rgba(8, 8, 8, 0.144);
}
.choise{
  position: relative;
  z-index: 5;
  margin:6% 10%;
  height: 200px;
  width: 200px;
  outline: 20px solid hsl(230, 89%, 62%);
  outline-offset: -20px;
  background-color: white;
  border-radius: 100%;
  box-shadow: inset 0 26px rgba(8, 8, 8, 0.144);
}
.choise.void{
  outline: none;
  box-shadow: none;
  background-color: #131f3292;
}
.choise.void::before{
  box-shadow: none;
}
.choise::before{
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: inset 0 -6px rgba(8, 8, 8, 0.144);
}
.choise::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
.choise.rock{
  outline: 20px solid hsl(349, 71%, 52%);
}
.choise.scissors{
  outline: 20px solid hsl(39, 89%, 49%);
}
.choise.rock::after{
  background-image: url("/icon-rock.svg");
  width: 50%;
  height: 50%;
}
.choise.paper::after{
  background-image: url("/icon-paper.svg");
}
.choise.scissors::after{
  background-image: url("/icon-scissors.svg");
}
.win{
  transform: translate(-50%, -50%);
  z-index: -4;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: win;
  animation-delay: 2s ;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.win::before{
  content: "";
  transform: translate(-50%, -50%);
  z-index: -4;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: win;
  animation-delay: 1s ;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.win::after{
  content: "";
  transform: translate(-50%, -50%);
  z-index: -4;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  animation-name: win;
  animation-delay: 0s ;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes win {
  from {
    height: 10%;
    width: 10%;
    opacity: 100%;
  }
  to {
    height: 200%;
    width: 200%;
    opacity: 0%;
  }
}







@media only screen and (max-width: 1339px) {
  .parent{
    width: 95%;
  }
  .choise::after{
    width: 46%;
    height: 46%;
  }
  .choise.rock:after{
    width: 40%;
    height: 40%;
  }
  .choise{
    outline-width: 15px ;
    outline-offset: -15px;
  }
  .choise.scissors{
    outline-width: 15px ;
    outline-offset: -15px;
  }
  .choise.rock{
    outline-width: 15px ;
    outline-offset: -15px;
  }
}
@media only screen and (max-width: 765px) {
  .choise{
    height: 100px;
    width: 100px;
   
  }
  .choise{
    outline-width: 10px ;
    outline-offset: -10px;
  }
  .choise.paper{
    outline-width: 10px ;
    outline-offset: -10px;
  }
  .choise.scissors{
    outline-width: 10px ;
    outline-offset: -10px;
  }
  .choise.rock{
    outline-width: 10px ;
    outline-offset: -10px;
  }
  
}
@media only screen and (max-width: 373px) {
  .choise{
    height: 70px;
    width: 70px;
    
  }
}

@media only screen and (max-width: 600px) {
  .navbar{
    width: 90%;
  }
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;

}
.result button{
  
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: white;
  border: none;
  color: #1d3151;
}

@media only screen and (max-width: 1005px) {
  .result{
    font-size: 20px;
  }
  .result.button{
    font-size: 10px;
  }
}
.result1{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;

}
.result1 button{
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: white;
  border: none;
  color: #1d3151;
}

@media only screen and (max-width: 659px) {
  .result{
    display: none;
  }
  .result1{
    display: flex;
  } 
}
.player{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}